<h1>Mail to Administrator - IT new vessel - record created</h1>

The user with the ip <%= @ip %> create the <%= link_to "vessel", edit_admin_vessel_url(@vessel) %> 
<p>with the current values:</p>
<div>
  <%= render 'vessel_values' %>
</div>